@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #000000;

}



/*--Navigation--*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', ;
    font-size: .6rem;
    letter-spacing: .1rem;
    background: #ffffff !important;
    border-bottom: 1px solid #bfbfbf;
    padding: .8rem;

}

.navbar-brand img {
    height: .8rem;

}

.navbar-nav li {
    padding-right: 10px;
    padding-top: .3rem;


}

.navbar-right {
    margin-left: 600px;
}

.navbar-right-h3 {
    font-family: 'Lato', ;
    font-style: normal;
    font-size: small;
    color: #888a8f;

}

.navbar-right-span {
    font-family: 'Lato', ;
    font-style: italic;
    font-weight: 200;
    font-size: x-small;
    text-transform: lowercase;
    color: black;


}


/* Links Underline */

.navbar-light .navbar-nav .nav-link {

    position: relative;
    color: #000;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d03536;
    visibility: hidden;

    transform: scaleX(0);

    transition: all 0.3s ease-in-out 0s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.form-inline .icons i:hover,
.person:hover {
    color: #d03536 !important;
}

.jeep {

    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(#d03536, #d03536), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.jeep:hover {

    background-size: 100% 3px, auto;
}


/*--Landing Page--*/



.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 10%;
   


}

.caption h1 {
    font-family: 'Lato', 'heavy';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-bottom: 1rem;

}

.caption h3 {
    font-family: 'Lato';
    font-style: italic;
    font-weight: lighter;
    font-size: 24px;
    text-transform: lowercase;
    color: #d03536;
    padding-bottom: 1.6rem;
}
      /* Timer */
#timer {
    font-family: 'Lato', 'heavy';
    font-size: 67px;
    font-weight: 800;
    color: #d03536;
    margin-top: -40px;
}
    /* buttons */
.btn {
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1.1rem;
    width: 250px;
    height: 45px;
    background-color: #21314e;
    

    color: #fff !important;


}

.btn:hover {
    background-color: #d03536 !important;
}





/*---Media Queries--*/

/* max-width-->576px */
@media(max-width: 576px) {
    
    #home {
        width: auto;
    }
    .caption {
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 20%;
    }

    .caption h1 {
        font-family: 'Lato', 'heavy';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-top: 50px;


    }

    .caption h3 {
        font-family: 'Lato';
        font-style: italic;
        font-weight: lighter;
        font-size: 14px;
        text-transform: lowercase;
        color: #d03536;
        padding-bottom: .6rem;
    }

    #timer {
        font-family: 'Lato', 'heavy';
        font-size: 37px;
        font-weight: 800;
        color: #d03536;
        margin-top: -20px;
    }

    .btn {
        border-width: medium;
        border-radius: 0;
        text-transform: uppercase;
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 2px;
        font-size: 1.1rem;
        width: 10px;
        height: 30px;
      


    }
}

/* Max width-->768 */

@media(max-width: 768px) {
    #home {
        width: auto;
    }

    .navbar-nav {
        width: auto;
        margin: auto;
        padding: 0;
    }

    .caption {
        top: 5%;
    }

    .caption h1 {
        font-size: 30px;
    }

    .caption h3 {
        font-size: 14px;
    }

    #timer {

        font-size: 37px;

    }

    .btn {
        margin-right: 2px;
        margin-left: 2px;
        width: 150px;
        height: 45px;





    }
}

/* Max-width-->992px */
@media(max-width: 1493px) {
    #home {
        width: auto;
    }

    .navbar-nav {
        width: auto;
        margin: auto;
       
    }

}
